{% extends "layout.html" %}
{% block content %}
    <h1>Report Sickness</h1>
    <br>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                <div class="form-group">
                    {{ form.disease.label(class="form-control-label") }}

                    {% if form.disease.errors %}
                        {{ form.disease(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.disease.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.disease(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.disease_description.label(class="form-control-label") }}
                    {% if form.disease_description.errors %}
                        {{ form.disease_description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.disease_description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.disease_description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.contact_name.label(class="form-control-label") }}
                    {% if form.contact_name.errors %}
                        {{ form.contact_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.contact_id.label(class="form-control-label") }}
                    {% if form.contact_id.errors %}
                        {{ form.contact_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.contact_date.label(class="form-control-label") }}
                    {% if form.contact_date.errors %}
                        {{ form.contact_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.sicknes_start_date.label(class="form-control-label") }}
                    {% if form.sicknes_start_date.errors %}
                        {{ form.sicknes_start_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sicknes_start_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sicknes_start_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.sicknes_end_date.label(class="form-control-label") }}
                    {% if form.sicknes_end_date.errors %}
                        {{ form.sicknes_end_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sicknes_end_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sicknes_end_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <!-- <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div> -->

    {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.Student }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endfor %}
    <h1> My Sicknesses </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th scope="col">Id</th> -->
                <th scope="col">username</th>
                <th scope="col">sickness name</th>
                <th scope="col">sickness start date</th>
                <th scope="col">sickness end_date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in posts %}
                <tr>
                    <!-- <th scope="row">item.id</th> -->
                    <td>item.username</td>
                    <td>item.disease_name</td>
                    <td>item.start_date</td>
                    <td>item.end_date</td>
                </tr>
            {% endfor %}
            
          </tbody>
    </table>

{% endblock content %} 

